<% layout('/layouts/template') %>

<div class="row col-6 offset-3 mt-4">
    <div class="alert alert-danger d-flex align-items-center" role="alert">
          <%= message %>
        </div>
      </div>
</div>